@model St10375622Part2.Models.FileDocument

@{
	ViewData["Title"] = "UploadFile";
}

<h2>Upload</h2>

<form asp-action="UploadFile" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label asp-for="LecturerId">Lecturer Name</label>
<!--Lecturer names have been stored and are called to spear in the drop down list here.They are linked to the Lecturer-->
		<select asp-for="LecturerId" class="form-control" asp-items="@(ViewBag.Lecturer)" >
			<option value="">-- Select Lecturer --</option>
		</select>
		<span asp-validation-for="LecturerId" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="fileUpload" class="control-label"></label>
		<input asp-for="fileUpload" class="form-control" />
		<span asp-validation-for="fileUpload" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="submit" value="UploadFile" class="btn btn-primary" />
	</div>
</form>

