@model St10375622Part2.Models.Calculation

@{
    ViewData["Title"] = "Calculation";
}

<h2>Calculate</h2>


<form asp-action="Calculate" method="post">
    <div class="form-group">
        <label for="HoursWorked"> Hours Worked </label>
        <input asp-for="HoursWorked" class="form-control" />
        <span asp-validation-for="HoursWorked" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HourlyRate"> Hourly Rate </label>
        <input asp-for="HourlyRate" class="form-control" />
        <span asp-validation-for="HourlyRate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Calculate</button>
</form>

<!-- Display the result if the Model is valid -->
@if (Model != null && ViewData.ModelState.IsValid)
{
    <h3>Result: R @Model.TotalPayment</h3>
}
<!-- Display Validation Errors -->
<div asp-validation-summary="All" class="text-danger"></div>


