@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">Contarct Monthly Claim System</h1>
    <h2>
        Key Features
    </h2>

    <section class="features-section">

        <p class="Heading"><b>Automated claims Submission</b></p>
        <p>
            Submitting your claims has never been easier. With CMCS, Independent Contractors can quickly and seamlessly submit
            their monthly claims through an intuitive interface.
        </p>
        <p class="Heading"><b>Accuracy and Accountability</b></p>
        <p>
            CMCS integrates essential tools that ensure the accuracy of every claim.
            Complex calculations are managed automatically, and the system provides a detailed audit trail for complex accountability.
        </p>
        <p class="Heading"><b>Efficient Approval Process</b></p>
        <p>
            The streamlined approval process enables Programme Coordinators and Academic Managers to review and approve claims quickly and efficiently.
        </p>
        <p class="Heading"><b>Document Upload</b></p>
        <p>
            Easily upload supporting documents with their claims submissions, ensuring that all required information is attached securely
        </p>

    </section>
</div>