@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-4">Contarct Monthly Claim System</h1>
    <h2>
        Contact Us
    </h2>

    <section class="features-section">

        <p class="Heading"><b>We are here to help!</b></p>
        <p>
            At CMCS, we are dedicated to ensuring that your experience is smooth and effiecient. whether you need assistance with submitting
            claims, understanding the approval process, or technical support, our team is here to support you every step of the way.
        </p>
        <p class="Heading"><b>Get in touch with Us</b></p>
        <p>
        <p><i><b>Main Office:</b></i></p>
        <p>CMCS Headquaters: 1234 Main Street, Umhlanga, South Africa</p>
        <br />
        <p><i><b>Phone Number:</b></i></p>
        <p>+27 321 456 9876 <i>(Monday to Friday, 8AM to 8PM SAST)</i></p>
        <br />
        <p><i><b>Email:</b></i></p>
        <p>support@cmcs.co.za</p>
        </p>



    </section>
</div>
