@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contarct Monthly Claim System</h1>
    <section class="features-section">
        <p>
            Welcome to the Contract Monthly Claim SYstem(CMCS).
            CMCS is a web application that simplifies and streamlies the often complex process of submitting and approving mothly claims.
            Designed with the needs of Independent Contractors in mind, CMCS offer a user-friendly interface, automates workflows, and
            ensures that claims are processes accurately and efficiently.
        </p>
        <p>
            CMCS servers as a crucial tool for Independent Contractors to manage their monthly claims.
            It automates the submission process, facilities thorough scrutiny by Programme Coordinators and Academic Managers, and
            ensures the accuracy and accountabilityof all claims submissions.
            With CMCS, Independent Contractors can experience seamless claim management, from submission to approval, all within
            a centralized system that enhances productivity and reduces errors.
        </p>
    </section>
</div>
